body {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Neue Haas Grotesk Text Pro",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
  color: white;
}

#js-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#js-header {
  background-color: red;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#js-weather {
  background-color: white;
  height: 60px;
  width: 80px;
  margin: 0 10px 0 10px;
}

#js-body {
  background-color: green;
  height: 100%;
}

#js-clock {
  background-color: violet;
  margin: 230px 0px 0px 0px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1050%;
  font-weight: 500;
}

#js-greeting {
  background-color: yellow;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 337.5%;
  font-weight: 500;
}

#js-form {
  height: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 0;
}

#js-form input {
  margin-left: 20px;
  border: 0;
  border-bottom: 5px solid white;
  background: none;
  font-size: 100%;
  font-weight: 500;
  color: white;
  width: 200;
}

input {
  outline: none;
  text-align: center;
}

input::placeholder {
  color: white;
}

#js-todos {
  background-color: grey;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#js-todo-form input {
  margin: 10px 0 0 0;
  border: 0;
  border-bottom: 4px solid white;
  background: none;
  font-size: 120%;
  font-weight: 500;
  color: white;
  width: 200;
}

#Js-todo-text {
  margin-top: 10px;
}

#js-todo-list {
  margin: 0;
}

li {
  list-style: none;
}

li.js-done {
  text-decoration: line-through;
  list-style-image: url(../img/icon/checked.png);
}

button {
  outline: none;
  width: 40px;
  height: 20px;
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin:2 5 0 0;
}

#js-footer {
  background-color: blue;
  height: 80px;
}

.showing {
  display: block;
}